header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    width: 100%;
    height:80px;
}

#formother {
    display: flex;
    height:100%;
    width: auto;
}

#other {
    background-color: #00394f;
    color: white;
    border: none;
    transition: 0.5s;
}

#other:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.loading {
    opacity: 0;
    padding-right: 7%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.siteTitle {
    transition: 0.5s;
}

.siteTitle:hover {
    cursor: pointer;
    color: #00394f;
}

a {
    text-decoration: none;
    color: white;
}
#usrButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:none;
    background-color: #00394f;
    color: white;
    border: none;
    transition: 0.5s;
    margin:0;
    padding: 0;
    height:100%;
}
#usrButton:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
.usrIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10px;
    border-radius: 100%;
    border:1px solid white;
    padding:10px;
}