/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2017, 4:50:56 PM
    Author     : seb
*/

html {
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/bg.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formcontainer{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    border-radius: 10px;
    width:100%;
     background-color: #1c1c1c;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding:10px;
}
form>input{
    height:30px;
    border:none;
    border-radius: 5px;
}
#submit{
    margin-top: 10px;
    width: 90%;
}
form>label{
    margin-top: 10px;
}