html {
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/bg.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-wrap: nowrap;
}

h1 {
    font-size: 35px;
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    width: 40%;
}

#send {
    color: white;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #00394f;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

#send:hover {
    font-weight: bold;
    color: black;
    background-color: white;
}

.description {
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    text-align: center;
    padding: 10px 0 10px 0;
}
.popularbutton{
    margin-top: 10px;
}

/*POPULAR MOVIES*/

.popularMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}

.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.poster {
    transition: 0.5s;
}

.poster:hover {
    filter: brightness(0.2);
}

.movieTitle {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}
.movies>p{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
.movies>i{
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
}
.note{
    position: absolute;
    text-align: center;
    bottom: 10px;
    opacity:1;
}
.note>p{
    margin-bottom: 0;
}
.movieTitle,.note{
    /*opacity: 0;*/
}